


<form method="post" asp-action="SubmitAction" enctype="multipart/form-data">
    <input type="text" value="<html>
    <body>
        Hello World from selectpdf.com.
asdslfds
    </body>
</html>"/>


        <button type="submit">Click</button>
</form>