@using BackendProject_Allup.ViewModels

@model  List<BasketVM>


                <div class="header-cart">
                                    <div class="cart-btn">
                                        <a asp-controller="dbbasket" asp-action="index">
                                            <i class="icon ion-bag"></i>
                                            <span class="text">Cart :</span>
                                            <span class="total">$@ViewBag.Total</span>
                                            <span class="count">@Model.Count</span>
                                        </a>
                                    </div>
                                    <div class="mini-cart">
                                        <ul class="cart-items">
                                            @foreach (var item in Model)
                                            {
                                                <li>
                                                <div class="single-cart-item d-flex">
                                                    <div class="cart-item-thumb">
                                                        <a href="single-product.html"><img src="~/assets/@item.ImgUrl" alt="product"></a>
                                                        <span class="product-quantity">@item.BasketCount</span>
                                                    </div>
                                                    <div class="cart-item-content media-body">
                                                        <h5 class="product-name"><a asp-controller="product" asp-action="detail">@item.Name</a></h5>
                                                        <span class="product-price">€@item.Price</span>
                                                        <a asp-controller="dbbasket" asp-action="remove" asp-route-id="@item.Id" class="product-close"><i class="fal fa-times"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            }
                                          
                                        </ul>
                                        <div class="price_content">
                                            <div class="cart-subtotals">
                                                <div class="products price_inline">
                                                    <span class="label">Subtotal</span>
                                                    <span class="value">$@ViewBag.Total</span>
                                                </div>
                                                <div class="shipping price_inline">
                                                    <span class="label">Shipping</span>
                                                    <span class="value">€0.00</span>
                                                </div>
                                                <div class="tax price_inline">
                                                    <span class="label">Taxes</span>
                                                    <span class="value">€0.00</span>
                                                </div>
                                            </div>
                                            <div class="cart-total price_inline">
                                                <span class="label">Total</span>
                                                <span class="value">$@ViewBag.Total</span>
                                            </div>
                                        </div> <!-- price content -->
                                        <div class="checkout text-center">
                                            <a asp-controller="basket" asp-action="sale" class="main-btn">Checkout</a>
                                        </div>
                                    </div> <!-- mini cart -->
                                </div>