@model ProductVM



				<!-- Default Basic Forms Start -->
				<div class="main-container d-flex justify-content-center">
				<div class="pd-20 card-box mb-30 col-7">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Your new Category</h4>
						</div>
					</div>
					<form  method="post" enctype="multipart/form-data" >

						<span asp-validation-for="Name" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Product Name</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="Name" class="form-control"  placeholder="Product name">
							</div>
						</div>

						<span asp-validation-for="Price" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Product Price</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="Price" class="form-control"  placeholder="Product Price">
							</div>
						</div>

						<span asp-validation-for="DiscountPrice" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Product DiscountPrice</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="DiscountPrice" class="form-control"  placeholder="Product DiscountPrice">
							</div>
						</div>

						<span asp-validation-for="TaxPercent" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Product TaxPercent</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="TaxPercent" class="form-control"  placeholder="Product TaxPercent">
							</div>
						</div>

						<span asp-validation-for="StockCount" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Product Stock Count</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="StockCount" class="form-control"  placeholder="Product count">
							</div>
						</div>


						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Select  category name</label>
							<div class="col-sm-12 col-md-10">
								<select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="custom-select col-12">
									
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Select Brand name</label>
							<div class="col-sm-12 col-md-10">
								<select asp-for="BrandId" asp-items="@ViewBag.Brands" class="custom-select col-12">
									
								</select>
							</div>
						</div>

						<span asp-validation-for="Description" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Product Description</label>
							<div class="col-sm-12 col-md-10">
								<textarea asp-for="Description" class="form-control"  placeholder="Product Description"></textarea>
							</div>
						</div>

						<div class="custom-control custom-checkbox mb-5">
							<input asp-for="IsFeatured"  class="custom-control-input">
							<label asp-for="IsFeatured" class="custom-control-label" >Product is featured</label>
						</div>
						<div class="custom-control custom-checkbox mb-5">
							<input asp-for="BestSeller"  class="custom-control-input">
							<label asp-for="BestSeller" class="custom-control-label" >Product  BestSeller</label>
						</div>
						<div class="custom-control custom-checkbox mb-5">
							<input asp-for="NewArrival"  class="custom-control-input">
							<label asp-for="NewArrival" class="custom-control-label" >Product  new Arrival</label>
						</div>
						
						<span asp-validation-for="Photos" class="text-danger"></span>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Product Images</label>
							<div class="col-sm-12 col-md-10">
								<input asp-for="Photos" class="form-control"  >
							</div>
						</div>

						<button type="submit" class="btn btn-success">Create</button>
					</form>
					
				</div>
				</div>
				<!-- Default Basic Forms End -->